-- Rename duplicate service provider names with actual different South African names

-- Step 1: View current duplicates
SELECT service_provider_name, service_provider_surname, COUNT(*) as count
FROM service_provider 
GROUP BY service_provider_name, service_provider_surname 
HAVING COUNT(*) > 1
ORDER BY count DESC;

-- Step 2: Update "Thabo Molefe" duplicates with different names
UPDATE service_provider SET service_provider_name = 'Sipho', service_provider_surname = 'Dlamini'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Thabo' AND service_provider_surname = 'Molefe'
    ) t WHERE rn = 2
);

UPDATE service_provider SET service_provider_name = 'Nomsa', service_provider_surname = 'Khumalo'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Thabo' AND service_provider_surname = 'Molefe'
    ) t WHERE rn = 3
);

UPDATE service_provider SET service_provider_name = 'Lerato', service_provider_surname = 'Mahlangu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Thabo' AND service_provider_surname = 'Molefe'
    ) t WHERE rn = 4
);

UPDATE service_provider SET service_provider_name = 'Mpho', service_provider_surname = 'Nkosi'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Thabo' AND service_provider_surname = 'Molefe'
    ) t WHERE rn = 5
);

UPDATE service_provider SET service_provider_name = 'Zanele', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Thabo' AND service_provider_surname = 'Molefe'
    ) t WHERE rn = 6
);

UPDATE service_provider SET service_provider_name = 'Bongani', service_provider_surname = 'Ndlovu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Thabo' AND service_provider_surname = 'Molefe'
    ) t WHERE rn = 7
);

-- Handle Anthony Perez duplicates (9 total)
UPDATE service_provider SET service_provider_name = 'Mandla', service_provider_surname = 'Zulu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Anthony' AND service_provider_surname = 'Perez'
    ) t WHERE rn = 2
);

UPDATE service_provider SET service_provider_name = 'Thandiwe', service_provider_surname = 'Morei'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Anthony' AND service_provider_surname = 'Perez'
    ) t WHERE rn = 3
);

UPDATE service_provider SET service_provider_name = 'Sibusiso', service_provider_surname = 'Moipone'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Anthony' AND service_provider_surname = 'Perez'
    ) t WHERE rn = 4
);

UPDATE service_provider SET service_provider_name = 'Ntombi', service_provider_surname = 'Rambo'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Anthony' AND service_provider_surname = 'Perez'
    ) t WHERE rn = 5
);

UPDATE service_provider SET service_provider_name = 'Khaya', service_provider_surname = 'Mngomezulu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Anthony' AND service_provider_surname = 'Perez'
    ) t WHERE rn = 6
);

UPDATE service_provider SET service_provider_name = 'Puleng', service_provider_surname = 'Thobejane'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Anthony' AND service_provider_surname = 'Perez'
    ) t WHERE rn = 7
);

UPDATE service_provider SET service_provider_name = 'Vusi', service_provider_surname = 'Mabena'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Anthony' AND service_provider_surname = 'Perez'
    ) t WHERE rn = 8
);

UPDATE service_provider SET service_provider_name = 'Nomsa', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Anthony' AND service_provider_surname = 'Perez'
    ) t WHERE rn = 9
);

-- Handle James Miller duplicates (9 total)
UPDATE service_provider SET service_provider_name = 'Tshepo', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'James' AND service_provider_surname = 'Miller'
    ) t WHERE rn = 2
);

UPDATE service_provider SET service_provider_name = 'Refilwe', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'James' AND service_provider_surname = 'Miller'
    ) t WHERE rn = 3
);

UPDATE service_provider SET service_provider_name = 'Kagiso', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'James' AND service_provider_surname = 'Miller'
    ) t WHERE rn = 4
);

UPDATE service_provider SET service_provider_name = 'Boitumelo', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'James' AND service_provider_surname = 'Miller'
    ) t WHERE rn = 5
);

UPDATE service_provider SET service_provider_name = 'Mpho', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'James' AND service_provider_surname = 'Miller'
    ) t WHERE rn = 6
);

UPDATE service_provider SET service_provider_name = 'Thabo', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'James' AND service_provider_surname = 'Miller'
    ) t WHERE rn = 7
);

UPDATE service_provider SET service_provider_name = 'Lerato', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'James' AND service_provider_surname = 'Miller'
    ) t WHERE rn = 8
);

UPDATE service_provider SET service_provider_name = 'Sipho', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'James' AND service_provider_surname = 'Miller'
    ) t WHERE rn = 9
);

-- Handle Grace Van Zyl duplicates (9 total)
UPDATE service_provider SET service_provider_name = 'Nomsa', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Grace' AND service_provider_surname = 'Van Zyl'
    ) t WHERE rn = 2
);

UPDATE service_provider SET service_provider_name = 'Lerato', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Grace' AND service_provider_surname = 'Van Zyl'
    ) t WHERE rn = 3
);

UPDATE service_provider SET service_provider_name = 'Sipho', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Grace' AND service_provider_surname = 'Van Zyl'
    ) t WHERE rn = 4
);

UPDATE service_provider SET service_provider_name = 'Thabo', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Grace' AND service_provider_surname = 'Van Zyl'
    ) t WHERE rn = 5
);

UPDATE service_provider SET service_provider_name = 'Mpho', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Grace' AND service_provider_surname = 'Van Zyl'
    ) t WHERE rn = 6
);

UPDATE service_provider SET service_provider_name = 'Kagiso', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Grace' AND service_provider_surname = 'Van Zyl'
    ) t WHERE rn = 7
);

UPDATE service_provider SET service_provider_name = 'Refilwe', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Grace' AND service_provider_surname = 'Van Zyl'
    ) t WHERE rn = 8
);

UPDATE service_provider SET service_provider_name = 'Boitumelo', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Grace' AND service_provider_surname = 'Van Zyl'
    ) t WHERE rn = 9
);

-- Handle Sarah Johnson duplicates (9 total)
UPDATE service_provider SET service_provider_name = 'Ntombi', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Sarah' AND service_provider_surname = 'Johnson'
    ) t WHERE rn = 2
);

UPDATE service_provider SET service_provider_name = 'Thandiwe', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Sarah' AND service_provider_surname = 'Johnson'
    ) t WHERE rn = 3
);

UPDATE service_provider SET service_provider_name = 'Sibusiso', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Sarah' AND service_provider_surname = 'Johnson'
    ) t WHERE rn = 4
);

UPDATE service_provider SET service_provider_name = 'Khaya', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Sarah' AND service_provider_surname = 'Johnson'
    ) t WHERE rn = 5
);

UPDATE service_provider SET service_provider_name = 'Puleng', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Sarah' AND service_provider_surname = 'Johnson'
    ) t WHERE rn = 6
);

UPDATE service_provider SET service_provider_name = 'Vusi', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Sarah' AND service_provider_surname = 'Johnson'
    ) t WHERE rn = 7
);

UPDATE service_provider SET service_provider_name = 'Mandla', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Sarah' AND service_provider_surname = 'Johnson'
    ) t WHERE rn = 8
);

UPDATE service_provider SET service_provider_name = 'Tshepo', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Sarah' AND service_provider_surname = 'Johnson'
    ) t WHERE rn = 9
);

-- Handle MC Tebogo duplicates (10 total)
UPDATE service_provider SET service_provider_name = 'Refilwe', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'MC' AND service_provider_surname = 'Tebogo'
    ) t WHERE rn = 2
);

UPDATE service_provider SET service_provider_name = 'Kagiso', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'MC' AND service_provider_surname = 'Tebogo'
    ) t WHERE rn = 3
);

UPDATE service_provider SET service_provider_name = 'Boitumelo', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'MC' AND service_provider_surname = 'Tebogo'
    ) t WHERE rn = 4
);

UPDATE service_provider SET service_provider_name = 'Mpho', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'MC' AND service_provider_surname = 'Tebogo'
    ) t WHERE rn = 5
);

UPDATE service_provider SET service_provider_name = 'Thabo', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'MC' AND service_provider_surname = 'Tebogo'
    ) t WHERE rn = 6
);

UPDATE service_provider SET service_provider_name = 'Lerato', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'MC' AND service_provider_surname = 'Tebogo'
    ) t WHERE rn = 7
);

UPDATE service_provider SET service_provider_name = 'Sipho', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'MC' AND service_provider_surname = 'Tebogo'
    ) t WHERE rn = 8
);

UPDATE service_provider SET service_provider_name = 'Nomsa', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'MC' AND service_provider_surname = 'Tebogo'
    ) t WHERE rn = 9
);

UPDATE service_provider SET service_provider_name = 'Thandiwe', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'MC' AND service_provider_surname = 'Tebogo'
    ) t WHERE rn = 10
);

-- Handle Jennifer Taylor duplicates (9 total)
UPDATE service_provider SET service_provider_name = 'Sibusiso', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Jennifer' AND service_provider_surname = 'Taylor'
    ) t WHERE rn = 2
);

UPDATE service_provider SET service_provider_name = 'Ntombi', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Jennifer' AND service_provider_surname = 'Taylor'
    ) t WHERE rn = 3
);

UPDATE service_provider SET service_provider_name = 'Khaya', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Jennifer' AND service_provider_surname = 'Taylor'
    ) t WHERE rn = 4
);

UPDATE service_provider SET service_provider_name = 'Puleng', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Jennifer' AND service_provider_surname = 'Taylor'
    ) t WHERE rn = 5
);

UPDATE service_provider SET service_provider_name = 'Vusi', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Jennifer' AND service_provider_surname = 'Taylor'
    ) t WHERE rn = 6
);

UPDATE service_provider SET service_provider_name = 'Mandla', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Jennifer' AND service_provider_surname = 'Taylor'
    ) t WHERE rn = 7
);

UPDATE service_provider SET service_provider_name = 'Tshepo', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Jennifer' AND service_provider_surname = 'Taylor'
    ) t WHERE rn = 8
);

UPDATE service_provider SET service_provider_name = 'Refilwe', service_provider_surname = 'Mthembu'
WHERE service_provider_id IN (
    SELECT service_provider_id FROM (
        SELECT service_provider_id, ROW_NUMBER() OVER (PARTITION BY service_provider_name, service_provider_surname ORDER BY created_at) as rn
        FROM service_provider WHERE service_provider_name = 'Jennifer' AND service_provider_surname = 'Taylor'
    ) t WHERE rn = 9
);

-- Verify no duplicates remain
SELECT service_provider_name, service_provider_surname, COUNT(*) 
FROM service_provider 
GROUP BY service_provider_name, service_provider_surname 
HAVING COUNT(*) > 1;